* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: linear-gradient(to bottom right, #e8f7ef, #ffffff);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background:url("leaves.jpg");
  background-size: cover;
  padding: 2rem;
  border-radius: 12px;
  width: 480px;
  text-align: center;
  box-shadow: 0px 4px 12px rgba(0,0,0,0.1);
}

.logo {
  color: white;
  width: 5px;
  height: 5px;
  border-radius: 50%; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  margin: auto;
}

h2 {
  color:rgb(16, 100, 16); 
  font-weight:800; 
  margin-top:1rem;
}

.subtitle {
  color: #1acd73;
  font-size: 0.9rem;
  margin-bottom: 1.5rem;
}

label {
  display: block;
  text-align: left;
  margin: 0.5rem 0 0.3rem;
  color:rgb(20, 207, 173);
  font-size: 0.85rem;
}

.input-group {
  display: flex;
  align-items: center;
  border: 1px solid #cbd5e0;
  border-radius: 8px;
  padding: 0.5rem;
  margin-bottom: 0.8rem;
  background: #f9fafb;
}

.input-group .icon {
  margin-right: 0.5rem;
  color: #718096;
}

input {
  border: none;
  outline: none;
  background: transparent;
  flex: 1;
  font-size: 0.9rem;
}

.terms {
  text-align: left;
  font-size: 0.8rem;
  color: #4a5568;
  margin: 1rem 0;
}
.terms a {
  color: #22c55e;
  text-decoration: none;
}

.terms a:hover {
  text-decoration: underline;
}

button {
  background: #22c55e;
  color: white;
  padding: 0.6rem;
  border: none;
  width: 100%;
  border-radius: 8px;
  font-size: 0.95rem;
  cursor: pointer;
}

button:hover {
  background: #16a34a;
}

.signin {
  font-size: 0.85rem;
  color: #4a5568;
  margin-top: 1rem;
}

.signin a {
  color: #22c55e;
  text-decoration: none;
}

.signin a:hover {
  text-decoration: underline;
}
